* {
  background-image: none;
  box-shadow: none;
}

window {
  background-color: rgba(30, 35, 38, 0.88);
  padding: 40px;
}

button {
  border-radius: 14px;
  border: none;
  background-color: rgba(46, 56, 60, 0.96);
  color: #d3c6aa;

  background-size: 25%;
  background-position: center;
  background-repeat: no-repeat;
  font-family: "JetBrainsMono NF", sans-serif;
  font-size: 15px;
  padding-top: 80px;
  padding-bottom: 20px;
  min-width: 140px;
  min-height: 140px;
  margin: 10px;
}

button:focus,
button:active,
button:hover {
  background-color: rgba(167, 192, 128, 0.95);
  color: #272e33;
  outline: none;
}

button label {
  color: #d3c6aa;
}

#shutdown:hover,
#logout:hover {
  background-color: rgba(230, 126, 128, 0.95);
}

button:hover label,
button:focus label,
button:active label {
  color: #272e33;
}

#lock {
  background-image: url("/usr/share/wlogout/assets/lock.svg");
}
#logout {
  background-image: url("/usr/share/wlogout/assets/logout.svg");
}
#suspend {
  background-image: url("/usr/share/wlogout/assets/suspend.svg");
}
#hibernate {
  background-image: url("/usr/share/wlogout/assets/hibernate.svg");
}
#shutdown {
  background-image: url("/usr/share/wlogout/assets/shutdown.svg");
}
#reboot {
  background-image: url("/usr/share/wlogout/assets/reboot.svg");
}
